
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific debug files
debug_server.py
backend_app/debug_server.py
backend_app/verify_server.py
backend_app/list_models.py
backend_app/cache/

# Test and Cache
test/
*cache.json
googlesheet_service_account.json
firebase-key.json
ggsheet-key.json
